/* Default styles for larger screens */
.rbc-month-header {
  background-color: rgb(136, 187, 208);
  color: white;
  padding: 20px;
}

.rbc-toolbar {
  width: 100% !important;
}

.rbc-time-view,
.rbc-month-view {
  width: 100% !important;
  height: 100% !important;
}

/* Media query for screens with a maximum width of 768px (adjust as needed) */
@media (max-width: 768px) {
  .rbc-month-header {
    padding: 10px;
    
    /* Reduce padding for smaller screens */
  }

  .rbc-toolbar {
    width: 100% !important;
    /* Full width for smaller screens */
  }


 
  .rbc-time-view,
  .rbc-month-view {
    width: 100% !important;
    height: auto !important;
    /* Adjust height as needed for smaller screens */
  }
}




@media(max-width:768px){
  .custom_cal .rbc-row.rbc-time-header-cell {
    min-height: unset;flex-wrap: wrap;
} .custom_cal .rbc-row.rbc-time-header-cell div {
  width: 50%;
  flex: auto;
  min-height: auto !important;
  overflow: auto !important;
  padding: 10px;
  border-left: 1px solid #ddd !important;
}
}